/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');

.google-sans-code-neocity {
  font-family: "Google Sans Code", monospace;
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Gaz';
  src: url('./Gaz-400.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

a {
  color: #24273a; 
}

.navbar {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #4D4D4D;
}
.navbar a {
  flex: 1;
  text-align: center;
  padding: 16px 0;
  color: #A277FF;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #89B4FA;
}

footer {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
  gap: 20px;
  padding: 0 20px;
}

footer img {
  height: 40px;
  width: auto;
}

.container {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  margin: 20px auto;
}

.sidebar, .badge-sidebar {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #8471DC;
  color: #D7D6DA;
  padding-bottom: 20px;
}

.badge-sidebar img {
  height: 40px;
  width: auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content {
  flex: 1;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  background-color: #8471DC; 
  color: #D7D6DA;
}

.sidebar h3::after,
.sidebar h2::after, 
.sidebar h1::after,
.main-content h1::after {
  content: "";
  display: block;
  width: 80%; 
  border-bottom: 1px solid #414868;
  margin-top: 5px; 
}

.center-list li {
  list-style: none;

}

.sidebar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.sidebar li {
  display: inline;
  padding-left: 14px;
}

@media (max-width: 900px) {
  .container {
      flex-direction: column;
  }

  .sidebar {
      width: auto;
  }
}

h1,h2,h3 {
  font-family: 'Gaz';
}

figure {
    display: inline-block;
}

figcaption {
  font-variant: small-caps;
  font-size: 10px;
}

body {
  background-color: #050305;
  font-family: 'Google Sans Code';
  background-image: url("/resources/brain.svg");
  background-repeat: repeat round;
  background-size: 30em;
  
}

/*body::before {
    content:
      "       _.====.._\A"
      "     ,:._       ~-_\A"
      "         `\\        ~-_\A"
      "           | _  _  |  `.\A"
      "         ,/ /_)/ | |    ~-_\A"
      "-..__..-''  \\_ \\_\\ `_      ~~--..__...----...\A";


    white-space: pre;
    font-family: monospace;
    color: white;

    position: fixed;
    z-index: -1;
    overflow: hidden;
}*/

